body { /* Configurações gerais */
    background: #0f141a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-top: 30px;
    font-size: 32px;
    color: #77a7ff;
}

.card {
    width: 600px;
    background: #12181f;
    padding: 30px;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 0 10px #0005;
}

label {
    display: block;
    margin-top: 18px;
    margin-bottom: 6px;
    font-size: 15px;
}

input,
select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #0d1117;
    color: white;
    font-size: 15px;
}

input:focus,
select:focus {
    outline: 2px solid #2f6bff;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background: #0d51c1;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0a3c8f;
}

.tarefa {
    background: #1b222c;
    padding: 15px;
    border-radius: 8px;
    margin-top: 12px;
    border-left: 4px solid #2f6bff;
}

footer {
    margin-top: 50px;
    opacity: 0.4;
    font-size: 14px;
}

/* Torna o ícone do calendário branco (todos navegadores) */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(2);
    opacity: 1;
}


/* Esconde o sistema até o login */
#sistema {
    display: none;
}
